<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking Lot</title>
    <link rel="stylesheet" href="/static/css/interface.css" />
  </head>
  <body>
    <div class="header container">
      <h1>Parking Lot</h1>
    </div>

    <div class="content container">
      <div class="section">
        <div class="two-thirds card">
          <img class="img" src="/static/images/img.webp" alt="Car" />
        </div>
        <div class="one-third card">
          <textarea
            class="bx"
            id="descriptionArea"
            rows="10"
            placeholder="Car description will appear here..."
            readonly
          ></textarea>
          <div class="sec card">
            <label for="plateNumber">Enter Plate Number</label>
            <input class="box" type="text" id="plateNumber" />
            <button class="btn" id="findDescriptionButton">Enter</button>
          </div>
        </div>
      </div>
    </div>

    <script src = "/static/js/interface.js">
      
    </script>
  </body>
</html>
    

