* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8; 
}

.container {
  padding: 20px;
}

.header {
  background-color: rgb(71, 186, 235);
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.header h1 {
  font-size: 3em;
  text-shadow: 1px 1px 0 #444;
  margin: 0;
}

.content {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.two-thirds {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.one-third {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  resize: none;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
  padding: 15px;
  border-radius: 10px;
}

.sec {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.sec label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.box {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.bx {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5;
}

.btn {
  background-color: rgb(71, 186, 235);
  font: bold 1em Arial;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgb(51, 166, 215);
}